
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <legend>Enter User Details</legend>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name, size: 50 %>
  </div>
   <div>
    <%= f.label :email %>:
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, size: 40 %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'Confirm' %>:
    <%= f.password_field :password_confirmation, size: 40 %>
    </div>
  <div>
    <%= f.submit %>
  </div>
</fieldset>
<% end %>

