
<h1>Listing Users</h1>
<%if notice%>
<p id="notice"><%= notice %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Email</th>
      <th colspan="3"></th> 
    </tr>
  </thead>
  

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
