<div class="container-fluid above nomar">
  <div class="row">
    <div class="col-md-3 boxxie">
      <div id="title">
        <div id="name">FLOOD WATCH</div>
        <div id="account" onclick="loginPanel()">Login/Register</div>
      </div>
    </div>
    <div class="col-md-6" id="midspace">
       <svg id="graph">
      </svg>
    </div>
    <div class="col-md-3 boxxie">
      <div id="menu">
        <input id="search" type="text" onkeyup="search(event)" placeholder="Enter address, city or postcode..." autofocus>
      </div>
    </div>
  </div>
</div>
<div id="mapcont" class="container-fluid nomar">
  <div id='map'></div>
</div>