@import "bootstrap-sprockets";
@import "bootstrap";

body { margin: 0; padding: 0; font-family: Lato; }
#map { width: 100%; height: 100%; }
#map img { max-width: none!important; background: none!important; }
#mapcont {
	width: 100%;
  height: 100vh;
	background-color: #FCFCFC;
	z-index: 1;
}
#title {
  width: 100%;
  height: 110px;
  color: #4F4F4F;
  border-radius: 10px;
  background-color: white;
  opacity: 0.85;
  z-index: 2;
  box-sizing: border-box;
}
#name {
  width: 100%;
  margin: 7px 0px 7px 0px;
  font-size: 26pt;
  text-align: center;
  padding: 0px 10px 7px 10px;
  border-bottom: dotted 1px lightgrey;
  float: left;
  box-sizing: border-box;
}
#account {
  width: 106px;
  height: 30px;
  float: right;
  text-align: center;
  font-size: 11pt;
  border: solid 1px lightgrey;
  border-radius: 5px;
  margin-right: 7px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
#account:hover { background-color: lightgrey; }
#menu {
  background-color: white;
  opacity: 0.85;
  width: 100%;
  height: 40px;
  max-height: calc( 100vh - 90px );
  border-radius: 10px;
  padding: 5px;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
#menu::-webkit-scrollbar-track { margin-top: 15px; margin-bottom: 15px; box-sizing: border-box; }
#menu::-webkit-scrollbar { width: 2px; }
#menu::-webkit-scrollbar-thumb { background-color: #D219EB; }
#search {
  height: 30px;
  width: 290px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
	float: left;

  outline: none;
  box-sizing: border-box;
}
#spacer { height: 30px; width: 290px; }
#resultbox { width: 100%; float: left; }
div.hit {
	margin-top: 5px;
	border-top-style: solid;
	border-top-color: lightgrey;
	border-top-width: 1px;
	cursor: pointer;
}
div.hit h1 { font-size: 10pt; margin: 3px; }
div.hit p { font-size: 11pt; }

 @media only screen and (max-width: 650px) {
	 #menu { top: 120px; left: 20px;}
 }

#panel {
  width: 100%;
  margin-top: 10px;
  float: left;
  text-align: center;
  position: relative;
}

#panel input {
  width: 90%;
  outline: none;
  border: solid 1px lightgrey;
  margin-bottom: 7px;
}

div.loginbutton {
  float: left;
  width: 80px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  margin: 5px 35px 18px 35px;
  box-sizing: border-box;
  cursor: pointer;
}
div.loginbutton:hover { background-color: lightgrey; }
#forgot { font-size: 10pt; cursor: pointer; }
div.above { z-index: 2; position: absolute; width: 100vw;}
div.nomar { padding: 0; margin: 0; }
div.boxxie { width: 330px; }
#midspace { width: calc( 100% - 660px ); padding: 0; }
.row {
  width: calc( 100vw - 15px );
  margin: 50px 0px 0px 15px;
}
svg {
  transform: rotate(-90deg);
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
#graphlabel {
  width: 160px;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#locations, #admin {
  float: left;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}
#locations { background-color: #fea; }
#admin { background-color: pink; }
#buttons {
  float: left;
}
#locations .loginbutton, #admin .loginbutton { margin: 5px 28px 5px 28px; }
#locations .loginbutton:hover { background-color: #EFD777; }
#locations .loginbutton { border-color: #E2C348; }
#admin .loginbutton { border-color: rgb(186, 53, 76); }
#admin .loginbutton:hover { background-color: #DA6176; }