
<!DOCTYPE html>
<html>
<head>
  <title>Floods Watch</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="authenticate()">

<%= yield %>

</body>
</html>